<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
  </configSections> 
  <dataConfiguration defaultDatabase="DefaultDatabase">
    <providerMappings>
      <add databaseType="Microsoft.Practices.EnterpriseLibrary.Data.Oracle.OracleDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=6.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="Oracle.DataAccess.Client" />
    </providerMappings>
  </dataConfiguration>
  <system.data>
    <DbProviderFactories>
      <!-- machine.config에 등록되어 있는 것 제거 하고 신규로 추가 -->
      <remove invariant="MySql.Data.MySqlClient" />
      <remove invariant="Oracle.DataAccess.Client" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
      <add name="Oracle Data Provider for .NET" invariant="Oracle.DataAccess.Client" description="Oracle Data Provider" type="Oracle.DataAccess.Client.OracleClientFactory, Oracle.DataAccess" />
    <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.8.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /></DbProviderFactories>
  </system.data>
  
  <connectionStrings>
    <add name="DefaultDatabase" connectionString="data source=192.168.xxx.xxx;initial catalog=NX_GMTOOL;persist security info=True;user id=xxxx;password=xxxxx;" providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>